core_allotment_sem4.csv
core_allotment_sem6.csv
courses_selected_sem4.csv
courses_selected_sem6.csv
elec_allotment_sem4.csv
elec_allotment_sem6.csv
stud_core_pref_sem4.csv
stud_core_pref_sem6.csv
stud_elec_pref_sem4.csv
stud_elec_pref_sem6.csv
uni_core_pref_sem4.csv
uni_core_pref_sem6.csv
uni_elec_pref_sem4.csv
uni_elec_pref_sem6.csv

